* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lora", serif;
}

main {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: #e2e8f0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.6rem;
}

h1 {
  font-size: 4.8rem;
  color: #22c55e;
}

form {
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
}

h3 {
  color: #1f2937;
  margin-bottom: 0.3rem;
}

input {
  display: inline-block;
  height: 2.3rem;
  padding-left: 0.6rem;
  width: 20rem;
  text-align: start;
  border-radius: 6px;
  border: 0;
  font-family: sans-serif;
}

button {
  display: inline-block;
  margin-top: 0.8rem;
  height: 3.2rem;
  width: 20rem;
  border-radius: 6px;
  border: 0;
  background-color: #22c55e;

  letter-spacing: 1px;
  font-weight: 500;
  color: #eee;
  text-transform: uppercase;
  cursor: pointer;

  transition: 0.1s all;
}

button:hover {
  background-color: rgba(34, 197, 94, 0.75);
}

button:active {
  background-color: #22c55e;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  backdrop-filter: blur(5px);
}

.login-container form {
  position: relative;
  z-index: 10;
  width: 37.5rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form h1 {
  letter-spacing: 1px;
  font-size: 3rem;
  text-align: center;
}

.login-container form input {
  background-color: #e2e8f0;
}

.hidden {
  display: none !important;
}

.close {
  width: 0;
  height: 0;
  position: absolute;
  background-color: #00000000;
  color: rgba(31, 41, 55, 0.5);
  font-weight: 500;
  font-size: 2.4rem;
  right: 3.5rem;
  top: 0.8rem;
}

.close:hover {
  color: rgba(31, 41, 55, 0.75);
}
.close:active {
  color: rgba(31, 41, 55, 0.5);
}

.error {
  color: #dc2626;
}

.success {
  color: #22c55e;
  font-size: 3.2rem;
}
